/*h1 {
	color: darkred;*/
	/*background-color: bisque;
	padding: 10px;
	border: 2px solid black;
	margin-bottom: 10px;*/
/*}*/
* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
	background-color: #666;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}

/* Container for flexboxes */
section {
	display: -webkit-flex;
	display: flex;
}

/* Style the navigation menu */
nav {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	background: #ccc;
	padding: 20px;
}

	/* Style the list inside the menu */
	nav ul {
		list-style-type: none;
		padding: 0;
	}

/* Style the content */
article {
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
	background-color: #f1f1f1;
	padding: 10px;
}
/*	article img {
		float: left
	}*/

/*blockquote{
	float: left;
}*/


/* Style the footer */
footer {
	background-color: #777;
	padding: 10px;
	text-align: center;
	color: white;
}

	footer table {
		margin-left: auto;
		margin-right: auto;
	}



/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
	section {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
}

a:hover {
	color: #151515;
}
a:link {
	text-decoration: none
}
article a {
	color: #080707;
	font-style: unset;
	line-height: 1.5;
}

article table{
	padding-bottom: 20px;
}

article{
	background-color: white;
}

article a{
	color: #666;
}

sideNav {
	background-color: #6c757d;
}

a {
	color: #040352;
}

section, section article{
	background-color: #ccc;
}


.portfolio {
	padding-bottom: 60px;
}

	.portfolio #portfolio-flters {
		padding: 0;
		margin: 0 0 35px 0;
		list-style: none;
		text-align: center;
	}

		.portfolio #portfolio-flters li {
			cursor: pointer;
			margin: 0 12px 5px 12px;
			display: inline-block;
			padding: 0 4px 6px 4px;
			font-size: 16px;
			font-weight: 500;
			line-height: 20px;
			color: #444;
			transition: all 0.3s ease-in-out;
			border-bottom: 2px solid #fff;
			font-family: "Roboto", sans-serif;
		}

			.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
				border-color: #68A4C4;
				color: #68A4C4;
			}

	.portfolio .portfolio-item {
		background: #1e4356;
		overflow: hidden;
		min-height: 200px;
		position: relative;
		border-radius: 4px;
		margin: 0 0 30px 0;
	}

		.portfolio .portfolio-item img {
			transition: all 0.3s ease-in-out;
		}

		.portfolio .portfolio-item .portfolio-info {
			opacity: 0;
			position: absolute;
			transition: all .3s linear;
			text-align: center;
			top: 10%;
			left: 0;
			right: 0;
		}

			.portfolio .portfolio-item .portfolio-info h3 {
				font-size: 22px;
			}

				.portfolio .portfolio-item .portfolio-info h3 a {
					color: #fff;
					font-weight: bold;
				}

			.portfolio .portfolio-item .portfolio-info a i {
				color: rgba(255, 255, 255, 0.6);
				font-size: 28px;
				transition: 0.3s;
			}

				.portfolio .portfolio-item .portfolio-info a i:hover {
					color: white;
				}

		.portfolio .portfolio-item:hover img {
			opacity: 0.6;
			transform: scale(1.1);
		}

		.portfolio .portfolio-item:hover .portfolio-info {
			opacity: 1;
			top: calc(50% - 30px);
		}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
	padding-top: 40px;
}

	.portfolio-details .portfolio-details-container {
		position: relative;
	}

	.portfolio-details .portfolio-details-carousel {
		position: relative;
		z-index: 1;
	}

		.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
			margin-top: 5px;
			text-align: left;
		}

		.portfolio-details .portfolio-details-carousel .owl-dot {
			display: inline-block;
			margin: 0 10px 0 0;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: #ddd !important;
		}

			.portfolio-details .portfolio-details-carousel .owl-dot.active {
				background-color: #68A4C4 !important;
			}

	.portfolio-details .portfolio-info {
		padding: 30px;
		position: absolute;
		right: 0;
		bottom: -70px;
		background: #fff;
		box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
		z-index: 2;
	}

		.portfolio-details .portfolio-info h3 {
			font-size: 22px;
			font-weight: 700;
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #eee;
		}

		.portfolio-details .portfolio-info ul {
			list-style: none;
			padding: 0;
			font-size: 15px;
		}

			.portfolio-details .portfolio-info ul li + li {
				margin-top: 10px;
			}

	.portfolio-details .portfolio-description {
		padding-top: 50px;
	}

		.portfolio-details .portfolio-description h2 {
			width: 50%;
			font-size: 26px;
			font-weight: 700;
			margin-bottom: 20px;
		}

		.portfolio-details .portfolio-description p {
			padding: 0 0 0 0;
		}

@media (max-width: 768px) {
	.portfolio-details .portfolio-description h2 {
		width: 100%;
	}

	.portfolio-details .portfolio-info {
		position: static;
		margin-top: 30px;
	}
}